.chart-review-section {
    width: 100%;
}
.chart-review-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding-right: 0;
    padding-left: 0;
}
.chart-review-wrapper {
    padding: 0;
}

.chart-review-card {
    padding: 1rem;
}

.chart-review-vendor {
    width: 100%;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-template-areas:
        'chartVendorLogo chartVendorRating';
}

.chart-review-vendor img {
    width: 156px;
    grid-area: chartVendorLogo;
}
.chart-review-vendor .product-count {
    margin-bottom: 0 !important;
    grid-area: chartVendorCount;
}
.chart-review-vendor .rating-wrapper {
    position: static;
    transform: none !important;
    justify-self: flex-end;
    grid-area: chartVendorRating;
}

.chart-review-cta {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.chart-review-card .details-highlights-content {
    padding: 0 1rem;
}
.chart-review-middle {
    padding: 1rem 0;
}

.chart-review-pros-cons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.chart-review-pros-cons ul {
    flex: 0 0 50%;
    list-style-type: none;
    padding-left: 0;
}
.review-cons-list {
    margin-bottom: 0 !important;
}
.chart-review-cta .btn-view-plan {
    width: fit-content;
    border-radius: 5px;
    border: 1px solid;
    text-transform: none;
    font-size: 16px;
}
.chart-review-cta .btn-link {
    font-size: 16px;
    text-decoration: underline;
}

.chart-review-content h4, .pros-cons-title {
    font-size: 18px;
    font-weight: 700;
}

.pros-cons-list h4:before, .pros-cons-list li:before {
    font-family: 'fontAwesome';
    margin-right: .75rem;
}

.review-pros-list h4:before {
    content: '\f118';
    color: #09bcbe;
}

.review-cons-list h4:before {
    content: '\f119';
    color: #e4405f;
}

.review-pros-list li:before {
    content: '\f00c';
    color: #09BCBE;
}
.review-cons-list li:before {
    content: '\f00d';
    color: #e4405f;
}

/*Financial Chart Mini Reviews*/
/* Financial Mini Review*/
.simplifiedChartMobile .chart-review-card {
    padding: 0 1rem;
}
.simplifiedChartMobile .chart-review-middle .home-review-heading {
    font-size: 18px;
    margin-top: 0;
}
.simplifiedChartMobile .chart-review-tagline {
    color: #09bcbe;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: .5rem;
}
.mini-review-content-two, .mortgage-mini-review-content, .belowfold-mini-review-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.simplifiedChartMobile .chart-review-top {
    padding: 1rem .75rem 0 0;
}
.simplifiedChartMobile .chart-review-middle {
    padding: 1rem 0;
}
.mortgage-index.simplifiedChartMobile .chart-review-middle {
    padding-top: 0;
}
.simplifiedChartMobile .chart-review-bottom {
    padding: 0;
    height: 0;
}
.simplifiedChartMobile .chart-review-vendor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.simplifiedChartMobile .chart-review-vendor img {
    width: 156px;
}
.simplifiedChartMobile .mini-review-left, .simplifiedChartMobile .mini-review-right {
    flex: 0 0 50%;
    padding: 1rem;
}
.simplifiedChartMobile .mini-review-left h4 {
    font-size: 14px;
    font-weight: 600;
    color: #484848;
}
.simplifiedChartMobile .mini-review-left p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 0 !important;
}
.simplifiedChartMobile .mini-review-right {
    background-color: rgba(0,0,0,.05);
    padding: 1rem;
}
.simplifiedChartMobile .mini-review-left, .mortgage-index .mini-review-left {
    padding: 1rem 1rem 0 0;
}
.simplifiedChartMobile .chart-review-pros-cons {
    flex-direction: column;
}
.simplifiedChartMobile .chart-review-pros-cons h4 {
    font-size: 20px;
    font-weight: 600;
    color: #484848;
    margin-bottom: .25rem;
}
.simplifiedChartMobile .chart-review-pros-cons ul {
    list-style-type: none;
    flex: 0 0 100% !important;
    padding: 0;
    width: 100%;
}
.simplifiedChartMobile .chart-review-pros-cons .review-pros-list li::before {
    content: "\f00c";
    font-family: FontAwesome;
    margin-right: .75rem;
    color: #09BCBE;
}
.simplifiedChartMobile .chart-review-pros-cons .review-cons-list li::before {
    content: "\f00d";
    font-family: FontAwesome;
    margin-right: .75rem;
    color: #808080;
}
.simplifiedChartMobile .pros-cons-list li {
    text-indent: 0;
}
.simplifiedChartMobile .chart-review-cta {
    justify-content: flex-start;
    align-items: center;
}
.simplifiedChartMobile .chart-review-cta .btn-view-plan {
    padding: .5rem 1rem;
    width: 156px;
    text-align: center;
    position: absolute;
    top: 65px;
    right: 16px;
    border-radius: 5px;
}
.simplifiedChartMobile .chart-review-cta .btn-view-plan:hover {
    border:1px solid #2E8B57
}

.simplifiedChartMobile .chart-link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}
.simplifiedChartMobile .mini-review-chart-link {
    font-size: 14px;
    padding: .25rem .5rem;
    text-align: center;
    font-weight: 500;
    background-color: #484848;
    color: #FFFFFf;
    border-radius: 20px;
    margin: 0 .25rem;
    border: 1px solid #484848;
}
.simplifiedChartMobile .mini-review-chart-link:hover {
    background-color: #FFFFFF;
    color: #484848;
}
.simplifiedChartMobile .chart-review-cta {
    justify-content: flex-start;
    align-items: center;
}
.simplifiedChartMobile .chart-review-card .btn-link {
    display: none;
}
.mortgage-index.simplifiedChartMobile .chart-review-cta .btn-view-plan {
    padding: .5rem 1rem !important;
    width: 156px;
    text-align: center;
    position: absolute;
    top: 1rem;
    right: 20px;
    border-radius: 5px;
}
.simplifiedChartMobile .chart-review-cta .btn-view-plan:hover {
    border:1px solid #2E8B57
}

@media only screen and (max-width: 767px) {
    .chart-review-container, .chart-review-wrapper {
        width: 100%;
    }
    .chart-review-container {
        justify-content: center;
    }

    .chart-review-vendor {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .chart-review-vendor .rating-wrapper {
        position: static;
        transform: none;
        flex-direction: row;
        gap: .5rem;
    }
    .chart-review-vendor .rating-wrapper .rating-pt {
        text-align: center;
    }
    .chart-review-pros-cons {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 1rem 1rem 1rem;
    }
    /* Financial Mini Review */
    .simplifiedChartMobile .chart-review-card {
        margin-bottom: 4rem;
    }
    .simplifiedChartMobile .chart-review-vendor {
        justify-content: space-between;
    }
    .simplifiedChartMobile .chart-review-pros-cons h4 {
        font-size: 16px;
    }
    .simplifiedChartMobile .chart-review-middle .home-review-heading {
        font-size: 16px;
        margin-bottom: 0;
        width: 100%;
    }
    .simplifiedChartMobile .mini-review-left, .simplifiedChartMobile .mini-review-right {
        flex: 0 0 100%;
        width: 100%;
    }
    .simplifiedChartMobile .mini-review-left {
        padding-bottom: 1rem;
    }
    .simplifiedChartMobile .mini-review-right {
        padding: 1rem 0;
    }
    .mini-review-content-two, .mortgage-mini-review-content, .belowfold-mini-review-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .simplifiedChartMobile .mini-review-right {
        background-color: transparent;
        padding: 1rem 0 0 0;
    }
    .simplifiedChartMobile .chart-review-bottom {
        height: auto;
    }
    .simplifiedChartMobile .chart-review-cta {
        width: 100%;
    }
    .simplifiedChartMobile .chart-review-card.container a.btn-view-plan {
        position: static;
        width: 100%;
        border-radius: 0;
        padding: 1rem 0;
        font-size: 18px;
    }
    .mortgage-index.simplifiedChartMobile .chart-review-card.container a.btn-view-plan {
        padding: 1rem .5rem !important;
        width: 156px !important;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}