#Footer-section {
    background: #062B55;
}


#Footer-section input.form-control {
    outline: none;
    border: none;
}

.footer-nav {
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}

.footer-nav li, .footer-nav li a, .copyrights {
    color: #FFFFFF;
}

.footer-nav li {
    display: inline-block;
    padding-left: 1rem;
}

.footer-nav li a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

/*footer no links fragment*/
.footer-no-links-container .footer-wrapper {
    padding: 1rem 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.footer-no-links-container .footer-wrapper .copyright-footer {
    padding-bottom: 0 !important;
}

.footer-no-links-container .footer-wrapper .copyrights {
    margin-bottom: 0 !important;
    font-size: 12px;
}

.footer-right-side {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.contact-us-email a {
    color: #FFFFFF;
    font-size: 14px;
}
.contact-us-email a:hover {
    font-weight: 500;
    text-decoration: underline;
}

/* For Devices Under 450 - To control Extra Samll behaviour - START*/
@media only screen and (max-width: 385px) {
    #Footer-section .col-12.col-md-8 {
        text-align: left !important;
    }
}

/* Mobile Version - For Samll Devices <=576 */
@media only screen and (max-width: 576px) {
    #Footer-section input.form-control {
        height: 27px;
    }

    .footer-nav li a {
        font-size: 11px;
    }

    .copyrights {
        font-size: 11px;
    }
}
@media screen and (max-width: 768px) {
    .footer-no-links-container .footer-wrapper {
        flex-direction: column;
        width: 100%;
    }
    .footer-right-side {
        flex-direction: column;
        gap: .25rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: .25rem;
    }
    .contact-us-email a {
        font-size: 12px;
    }
    .footer-nav li {
        padding-left: 4px;
    }
}

/* For Devices >=768 - Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer-nav li a {
        font-size: 11px;
    }
    .footer-no-links-container .container {
        max-width: 768px;
    }
}

/* Tablet_1024 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-nav li a {
        font-size: 11px;
    }
}

@media screen and (max-width: 991px) {
    .footer-no-links-container .footer-wrapper .copyrights.f-14 {
        font-size: 11px;
    }
}