.bar {
    height: 13px;
    background: #062B55;
}

.header-bar-section, .article-details .header-bar-section, .review-details-two .header-wrapper {
    border-top: 5px solid #062B55;
    background-color: #FFFFFF;
    padding: .5rem 0;
}

.review-details-two .header-bar-section {
    border-top: none;
    background: transparent;
    padding: .5rem 0;
    margin: 0 auto;
}
.navbar {
    padding: 0 !important;
}

.review-details-two .header-bar-section .bg-white {
    background-color: transparent;
}

.navbar-brand img {
     width: 456px;
 }

.nav-item .nav-link {
    padding: 0 !important;
    font-weight: 500;
    font-size: 1rem !important;
}

.nav-item:hover .nav-link, .nav-item .nav-link.active {
    color: #09BCBE !important;
    text-decoration: underline;
}

/*outline layout for dropdown for hamburger menu*/
.navbar ul .nav-item {
    padding-left: 5rem !important;
}
/*end*/

/*size readjustment/alignment of hamburger icon*/
.navbar-light .navbar-toggler {
    outline: none;
    border: none;
}
/*end*/

.dropdown-menu {
    border-radius: 0;
    margin-left: 5rem;
}

.dropdown-item {
    font-size: 14px !important;
    font-family: 'Poppins';
}

.dropdown-item:hover {
    color: #09BCBE !important;
    background-color: #fff;
}
/*Dropdown Menu for hamburger menu end*/

/* Mobile Version - For Samll Devices <=576 */
@media only screen and (max-width: 576px) {
    .navbar-brand {
        padding-left: 11px;
    }

    .navbar-light .navbar-toggler {
        border: none !important;
    }

    .navbar-brand img {
        width: 256px;
    }

    .nav-item.active .nav-link {
        color: #09BCBE;
        border-bottom: none;
    }

    .nav-item:hover .nav-link {
        color: #09BCBE !important;
        border-bottom: none;
    }

    .navbar ul .nav-item {
        padding-left: 0 !important;
        text-align: center;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .navbar-brand img {
        width: 380px;
    }
}

/* For Devices <768 - Few elements share same functionality in Small and Medium Devices */
@media only screen and (max-width: 767px) {
    .header-bar-section {
        padding: 0;
        border-top: 5px solid #062B55;
        background-color: transparent;
    }

    .nav-item.active .nav-link {
        color: #09BCBE;
        border-bottom: none;
    }
    .nav-item .nav-link {
        font-size: 14px !important;
    }

    /* Custom Navbar Style - Start */
    .overlay {
        width: 25%;
        height: 100%;
        background: rgba(0, 0, 0, 0.445);
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .customNav {
        width: 75%;
        height: 100%;
        background: #062B55;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 9999;
        transition: none;
    }

    .customNav .custom-nav-toggler {
        color: #09BCBE !important;
        font-size: 1.25rem;
        margin-top: 0.88rem !important;
        margin-left: 0;
        position: absolute;
        right: 20px;
        -webkit-tap-highlight-color: transparent;
        background: transparent;
        -webkit-appearance: none;
        border-radius: 0;
    }

    .customNav .brand {
        width: 200px;
    }

    .customNav .nav-item a {
        color: #09BCBE;
        cursor: pointer;
    }

    .customNav .nav-item {
        margin-bottom: 15px;
    }

    .nav-item:hover .nav-link {
        border-bottom: none;
    }

    .customNav .navbar-nav {
        margin-left: 3rem !important;
    }

    .customNav .dropdown-menu {
        position: static !important;
        transform: none !important;
        width: 160px;
        background: #062B55;
        border: none;
        list-style: disc;
        color: #fff;
        margin-left: 17px;
    }

    .customNav .dropdown-item {
        padding-left: 0px !important;
        list-style-type: square;
    }

    .customNav .dropdown-menu a {
        color: #fff !important;
    }

    .customNav .dropdown-toggle::after {
        color: #fff;
        position: relative;
        top: .8px;
        left: 3px;
    }
    /* Custom Navbar Style - end */
}

@media only screen and (min-width: 768px) {
    /*Simplified Chart Templates Header Nav*/
    .simplifiedChartMobile .header-bar-section {
        border-bottom: 1px solid rgba(0,0,0,.2);
        padding: .5rem 0;
    }
}

/* For Devices Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-bar-section {
        border-top: 7px solid #062B55;
        padding: 0;
        background-color: transparent;
    }

    .dropdown-menu {
        margin-left: 0.8rem;
    }

    .navbar-brand {
        margin-left: -15px;
    }

    .navbar-brand img {
        width: 300px;
    }

    .navbar ul .nav-item {
        padding-left: 2rem !important;
    }

    .nav-item .nav-link {
        font-size: 12px;
    }
}

/* Tablet_1024 */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header-bar-section {
        border-top: 7px solid #062B55;
    }

    .navbar ul .nav-item {
        padding-left: 2.5rem !important;
    }

    .nav-item .nav-link {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    .review-details-two .header-bar-section {
        max-width: 1250px;
    }
}

