.logooffer-stacked .offerImage-wrapper {
    height: fit-content;
    object-fit: cover;
}

.logooffer-stacked .product-offer-image {
    width: 100%;
    height: 128px;
    object-fit: cover;
}

.logooffer-stacked .product-details {
    display: flex;
    justify-content: center;
    align-self: center;
}
.logooffer-stacked .product-pricing .card-body {
    padding-top: 0 !important;
}

.logooffer-stacked .expand-box {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}

.logooffer-stacked .details-highlights {
    margin-right: 15px;
}

.logooffer-stacked .product-count {
    font-size: 28px;
}

.logooffer-stacked .expandable-wrapper:has(.details-highlights-content) {
    background: #EDFEFE;
    display: grid !important;
    grid-template-columns: .75fr .75fr;
    grid-template-rows: min-content;
    grid-template-areas:
        'expandTitle expandTitle'
        'expandOrigBoxOne expandOrigBoxTwo'
        'expandOrigBoxThree expandOrigBoxThree'
        'expandReviewCTA expandVendorCTA';
}
.logooffer-stacked .expandable-wrapper:has(.expandNew) {
    background: #fafafa !important;
    display: grid;
    padding: 1rem 0;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
        'expandTitle expandTitle'
        'expandBoxOne expandBoxTwo'
        'expandBoxThree expandBoxThree'
        'expandReviewCTA expandVendorCTA';
}
.logooffer-stacked .expandable-wrapper:has(.details-highlights-content) .home-review-heading {
    background: #EDFEFE;
}

@media only screen and (max-width: 767px) {
    .logooffer-stacked .product-start {
        height: fit-content !important;
        padding: 0 1rem !important;
    }
    .logooffer-stacked .global-mobile-start {
        width: 100%;
        display: grid;
        grid-template-columns: .25fr 1fr .5fr;
        column-gap: .25rem;
        grid-template-areas: 'chartRank vendorLogo ratingWrapper';
    }
    .logooffer-stacked #chartCardBottom .global-mobile-start {
        grid-template-columns: 1fr .5fr;
        grid-template-areas: 'vendorLogo ratingWrapper';
    }
    .logooffer-stacked .product-image {
        position: static !important;
        transform: none !important;
        width: 135px !important;
        margin: 0 !important;
    }
    .logooffer-stacked .rating-wrapper {
        position: static !important;
        transform: none !important;
        width: fit-content;
        justify-self: center;
    }
    .logooffer-stacked .offerImage-wrapper {
        width: 100%;
    }
    .logooffer-stacked .product-offer-image {
        display: block;
        margin: 0 auto !important;
        padding: 0 1rem;
        max-width: 256px;
    }
    .logooffer-stacked .rating-pt {
        text-align: center !important;
    }
    .logooffer-stacked .product-details {
        margin-top: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .logooffer-stacked .product-start {
        padding-bottom: .5rem;
    }
    .logooffer-stacked .offerImage-wrapper {
        margin: 3rem auto .5rem auto;
        padding: 1rem;
    }
    .logooffer-stacked .top-choices:has(.vendor-review-platform-wrapper) .offerImage-wrapper {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .logooffer-stacked .carousel-products {
        margin-top: -35px;
    }
    .logooffer-stacked .product-image {
        width: 145px;
    }
    .logooffer-stacked .product-start:has(.offerImage-wrapper) .product-image {
        transform: translate(-50%, -24%);
        top: 24%;
    }
    .logooffer-stacked #chartCardBottom .product-start:has(.offerImage-wrapper) .product-image {
        transform: translate(-50%, 0);
        top: 0;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .logooffer-stacked .product-start:has(.offerImage-wrapper) .product-image {
        transform: translate(-50%, -20px);
        top: 25%;
    }
    .logooffer-stacked #chartCardBottom .product-start:has(.offerImage-wrapper) .product-image {
        transform: translate(-50%, -10%);
        top: 0;
    }
    .logooffer-stacked .product-offer-image {
        margin-top: 2rem !important;
    }
}
@media screen and (min-width: 1200px) {
    .logooffer-stacked .product-start:has(.offerImage-wrapper) .product-image {
        transform: translate(-50%, -18%);
        top: 18%;
    }
    .logooffer-stacked #chartCardBottom .product-start:has(.offerImage-wrapper) .product-image {
        transform: translate(-50%, -10%);
        top: 10%;
    }
}