        <div class="sticky-module" data-location="chart-sticky-bottom" data-co-id="12029" data-vendor="Ro"> 
    <div class="sticky-module-container">
        <div class="sticky-image-score-box">
            <img src="ldsiq_public.s3.us_east_2.amazonaws.com/dedb765c_828b_44b6_af0a_9e0c7cc3e55c.svg" alt="Remedy Med Logo">
            <div class="sticky-module-rating">
                <div class="rating-pt">9.8</div>
                <div class="star-rating-wrapper">
                    <ul class="rating-list-background">
                        <li><i class="fa fa-star" aria-hidden="true"></i></li><li><i class="fa fa-star" aria-hidden="true"></i></li><li><i class="fa fa-star" aria-hidden="true"></i></li><li><i class="fa fa-star" aria-hidden="true"></i></li><li><i class="fa fa-star" aria-hidden="true"></i></li>
                    </ul>
                    <ul class="rating-list">
                        <li><i class="fa fa-star fill-in0" aria-hidden="true"></i></li><li><i class="fa fa-star fill-in1" aria-hidden="true"></i></li><li><i class="fa fa-star fill-in2" aria-hidden="true"></i></li><li><i class="fa fa-star fill-in3" aria-hidden="true"></i></li><li><i class="fa fa-star fill-in4" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sticky-content-box">
            <p class="sticky-headline">SPECIAL OFFER</p>
            <p class="sticky-promo">Get $15 Off Your First Order</p>
        </div>
        <a class="btn btn-danger px-5 py-2" href="https://wellnesstracker-compare.lovable.app/" rel="nofollow noopener" data-co-id="12029" data-vendor="Ro">Start Now</a>
    </div>
</div>
